/*----------------------------------------------------------------------------
    GLOBAL Attributes 
----------------------------------------------------------------------------*/
body {
  padding: 0;
  margin: 0;
  font-family: courier, serif;
  color: #EEF2F3;
}
img {
  padding: 0;
  margin: 0;
  float: right;
}
a {
  padding: 0;
  margin: 0;
  font-family: courier, serif;
  color: #EEF2F3;
  text-decoration: none;
}
/*----------------------------------------------------------------------------
    HEADER BOX
----------------------------------------------------------------------------*/

div#sidebar {
  background-image: url('sidebar.png');
  position: absolute;
  background-color: grey;
  width: 280px;
  height: 1000px;
}

 div#right-content {
  margin-right: 280px;
  background-color: grey;
  width: 1152px;
  height: auto;
 }

/*----------------------------------------------------------------------------
    HOVER
----------------------------------------------------------------------------*/
a {
    display: inline-block;
    position: relative;
}
.caption {
    height: 300px;
    width: 384px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    color: #EF4645;
    font-weight: bold;
    line-height: 1.1em;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.caption p{
    margin: 140px;
}
a:hover .caption {
    opacity: 1;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.row_1 {
  padding: 0;
  margin: 0;
}
.img_link {
  padding: 0;
  margin: 0;
  float: right;
}
/*----------------------------------------------------------------------------
    imported
----------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------
    TABLE
----------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------
    ?????? active space
----------------------------------------------------------------------------*/



